*{
	margin: 0;
	padding: 0;
}
.content{
	width: 1200px;
	/*background-color: aliceblue;*/
	margin: 10px auto;
}
/*全选的特点  对号的图片是后加的设置label的作用  */
/*设置全部的全选的框隐藏*/
/* input[type="checkbox"]{
    display: none;
} */
/*全选的框隐藏 设置label*/
label{
    position: relative;
    display: inline-block;
    z-index: 1;
    border: 1px solid #b8b8b8;
    margin-left: 10px;
    border-radius: 5px;
    margin: 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    vertical-align: middle;
}
/*对号的背景图片*/
label.mark{
    background: url(../img/gouwucar/mark2.png) no-repeat;
}
/*               全选的特点  对号的图片是后加的设置label的作用    完   */
.content .up{
	width: 1200px;
	height: 70px;
	padding: 10px 0;
}
.content .up .left{
	float: left;
	width: 230px;
	height: 50px;
}
.content  .up .left a{
	width: 94px;
	height: 50px;
	float: left;
}
.content .up .left span{
	float: left;
	width: 110px;
	height: 50px;
	line-height: 50px;
	margin-left: 26px;
	font-size: 22px;
}
.content .up  .right{
	float: right;
}
.content .main{
	width: 1200px;
	margin: 0 auto;
	height: 800px;
	/*background-color: aqua;*/
}
.content .main table{
	width: 1200px;
	/*background-color: bisque;*/
	font-size: 14px;
}
.content .main table.first{
	height: 30px;
	line-height: 30px;
	font-weight: 400;
	border: 1px solid #DEDEDE;
	background-color:#F7F7F7 ;
}
.content .main table.chanpin{
	border: 1px solid #DEDEDE;
}
.content .main table tr.cc{
	height: 110px;
	border-bottom: 1px solid #DEDEDE;
}
td{
	text-align: center;
}
.content .main table.chanpin .tupian{
	float: left;
	width: 70px;
	height: 70px;
}
.content .main table.chanpin .tupian img{
	width: 64px;
	height: 64px;
}
.content .main table.chanpin .wenzi{
	float: left;
	line-height: 17px;
	text-align: left;
	font-size: 12px;
	font-weight: 400;
}
.content .main table.chanpin .wenzi a{
	text-decoration: none;
	color: black;
	float: left;
	width: 470px;
	margin-left: 10px;
}
.wenzi p.yanse{
	color:#999999 ;
	margin-left: 10px;
}
table td.xian{
	border-left: 1px solid #DEDEDE;
}
table td .bb{
	width: 30px;
	height: 30px;
}
table td .bb:hover{
	border: 1px solid orangered;
}
table td .reSty{
	color: #cbcbcb;
	border: none;
}
table td .reSty:hover{
	border-right: none;
    border-color: #e5e5e5;
    text-decoration: none;
    color: #cbcbcb;
}
table td .plus{
	border-left-color: transparent;
}
table .span{
	font-size: 12px;
	font-weight: 400;
	color: black;
}
/*结算的css*/
.last{
	width: 1200px;
	margin: 0 auto;
	height: 50px;
	line-height: 50px;
	background:#E5E5E5;
	text-align: center;
	position:fixed;
	bottom: 0px;
	/*background-color: #DEDEDE;*/
}
.last .last-btn{
	color: white;
	width: 100%;
	height: 100%;
	background-color: #D14642;
	border-radius: 100px;
}
/*全选按钮*/
.piliang{
	width: 120px;
	height:50px;
	font-size: 20px;
	border-radius: 20px;
	background-color: orangered;
	color: white;
}
.xuan{
	color: orangered;
	font-size: 16px;
}
.calBtn{
    float: left;
}
.calBtn a{
    display: block;
    width: 120px;
    height: 50px;
   color: white;
    background: #B0B0B0;
    /*禁止点击框的设置css*/
    cursor: not-allowed;
    font-size: 22px;
    /*字与字之间的距离*/
    letter-spacing: 5px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    border-radius: 15px;
}
.calBtn a:hover{
	color: white;
}
.calBtn a.btn_sty{
    background: #f40;
    cursor: pointer;
}


/*自己定义的模态框*/
.model_bg{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.6);
    z-index: 999;
    display: none;
}
.my_model{
    position: fixed;
    display: none;
    top:50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px;
    z-index: 9999;
    width: 360px;
    height: 180px;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    padding: 20px;
    background: #fff;
}
.my_model .title{
    font-size: 14px;
    color: #3c3c3c;
    font-weight: 700;
    margin-bottom: 20px;
}
.my_model .title .closeModel{
    float: right;
    cursor: pointer;
}
.my_model p{
    line-height:16px;
}
.my_model .opBtn{
    margin-top: 20px;
}
.my_model .opBtn a{
	display: inline-block;
    width: 58px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 1px;
    margin-right: 10px;
    font-weight: 700;
}
.my_model .dialog-sure{
    background: #52a0e5;
    color: #fff;
    border: 1px solid #52a0e5;
}

.my_model .dialog-close{
    background: #fff;
    border: 1px solid #d9d9d9;
    color: #3c3c3c;
}
.piece_num{
    display: inline-block;
    padding: 0 10px;
    font-weight: 700;
    font-size: 18px;
    font-family: tohoma,arial;
    color: #FF0000;
}
.total_text{
    float: right;
    font-weight: 400;
    font-size: 20px;
    font-family: Arial;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 15px;
    color: #FF0000;
}